.voice_bot_button::before {
    -webkit-mask-image: url("button.svg") !important;
    mask-image: url("button.svg") !important;
}

.database_button::before {
    -webkit-mask-image: url("database.svg") !important;
    mask-image: url("database.svg") !important;
    left: 0px; /* due to database selector style change to match menu style*/
}

.files_button::before {
    -webkit-mask-image: url("files.svg") !important;
    mask-image: url("files.svg") !important;
}

.editor_button::before {
    -webkit-mask-image: url("text-editor.svg") !important;
    mask-image: url("text-editor.svg") !important;
}

.mx_MessageComposer_buttonMenu::before {
    -webkit-mask-image: url("plus.svg") !important;
    mask-image: url("plus.svg") !important;
}

.mx_MessageComposer_audioCapture::before {
    -webkit-mask-image: url("audio-capture.svg") !important;
    mask-image: url("audio-capture.svg") !important;
}
