.voice_bot_button::before {
    -webkit-mask-image: url("button.svg") !important;
    mask-image: url("button.svg") !important;
}

.database_button::before {
    -webkit-mask-image: url("database.svg") !important;
    mask-image: url("database.svg") !important;
}

.files_button::before {
    -webkit-mask-image: url("files.svg") !important;
    mask-image: url("files.svg") !important;
}

.editor_button::before {
    -webkit-mask-image: url("text-editor.svg") !important;
    mask-image: url("text-editor.svg") !important;
}
