:where(.zebra-container) {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --border-color: rgb(209 213 219);
  --placeholder-color: rgb(156 163 175);
}
:where(.zebra-container) *,
:where(.zebra-container) ::before,
:where(.zebra-container) ::after {
  border-width: 0;
}
:where(.zebra-container) {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: var(--font-sans);
}
:where(.zebra-container) {
  margin: 0;
  line-height: inherit;
}



:where(.zebra-container) button{
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

:where(.zebra-container) button{
  text-transform: none;
}
:where(.zebra-container) button,
:where(.zebra-container) [type='button'],
:where(.zebra-container) [type='reset'],
:where(.zebra-container) [type='submit'] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:where(.zebra-container) button,
:where(.zebra-container) [role='button'] {
  cursor: pointer;
}