@tailwind base;
@tailwind components;
@tailwind utilities;

.zebra-container {
    /* --cpd-color-theme-bg: #f8f7fd !important; */
    /* --cpd-color-bg-canvas-default: #f8f7fd !important; */
    --cpd-color-bg-subtle-secondary-level-0: #f2f2f2 !important;

    --background: 0 0% 100%;
    --foreground: 264 100% 4.9%;

    --primary: 262.82 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 264 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 264 100% 4.9%;

    --secondary: 262.11 100% 92.55%;
    --secondary-foreground: 0 0% 7.45%;

    --muted: 261.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 261.6 100% 95.1%;
    --accent-foreground: 262.82 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 262.82 100% 50%;

    --radius: 0.5rem;
    /* --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 220 14% 93%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 270 6% 90%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 270 6% 90%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.75rem; */

    --md-editor-font-family: "Roboto Mono", monospace;
}

.cpd-theme-dark.zebra-container {
    --cpd-color-theme-bg: #131214 !important;
    --cpd-color-bg-canvas-default: #131214 !important;

    --background: 0 0% 7.45%;
    --foreground: 262.11 100% 92.55%;

    --primary: 262.82 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 0 0% 7.45%;
    --card-foreground: 262.11 100% 92.55%;

    --popover: 0 0% 7.45%;
    --popover-foreground: 262.11 100% 92.55%;

    --secondary: 262.92 100% 17.45%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 16.86%;
    --muted-foreground: 0 0% 53.73%;

    --accent: 262.92 100% 17.45%;
    --accent-foreground: 262.11 100% 92.55%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 262.82 100% 50%;

    --radius: 0.5rem;
    /* --background: 224 0% 5.1%;
    --foreground: 210 20% 98%;

    --card: 300 1% 16%;
    --card-foreground: 210 20% 98%;

    --popover: 300 1% 16%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 210 20% 98%;

    --secondary: 0 0% 11%;
    --secondary-foreground: 210 20% 98%;

    --muted: 240 3% 11%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 240 3% 21%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 300 1% 21%;
    --input: 300 1% 21%;
    --ring: 216 12.2% 83.9%; */
}
/* 
.zebra-container * {
    border-color: hsl(var(--border));
}
.zebra-container {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
} */

/* .zebra__main {
    height: 100vh;
    height: -webkit-fill-available;
} */

/* @media (min-width: 640px) {
  .sidebar-open {
    width: calc(100vw - 200px);
  }
}
@media (min-width: 1000px) {
  .sidebar-open {
    width: calc(100vw - 260px);
  }
} */

@layer base {
    * {
        @apply border-border;
    }
    body {
        /* @apply bg-background text-foreground; */
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }
}

.scrollbar--custom::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: #e5e4e7;
    border-radius: 5px;
}
.scrollbar--custom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #e5e4e7;
    border-radius: 5px;
}

.scrollbar--custom::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 5px;
}

.dark .scrollbar--custom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #343437;
    border-radius: 5px;
    /* background-color: #0d0d0d; */
}

.chat__history__item::after {
    background: linear-gradient(to right, transparent, hsl(var(--secondary)) 80%);
}

.chat__history__item--selected::after {
    background: linear-gradient(to right, transparent, hsl(var(--card)) 80%);
}

.chat__history__item:hover::after {
    background: linear-gradient(to right, transparent, hsl(var(--accent)) 80%);
}

.AccordionChevron {
    transition: transform 150ms;
}
.AccordionTrigger[data-state="open"] > .AccordionChevron {
    transform: rotate(90deg);
}

input::placeholder,
textarea::placeholder {
    @apply text-black/50 dark:text-white/40;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    @apply text-black/50 dark:text-white/40;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    @apply text-black/40 dark:text-white/40;
}

.react-colorful {
    width: 100% !important;
}

[data-reference-hidden] {
    opacity: 0;
    pointer-events: none;
}

::-webkit-scrollbar {
    @apply w-1 h-1 bg-neutral-500/20;
}

::-webkit-scrollbar-thumb {
    @apply bg-neutral-500/50 rounded-full;
}

/* Range input styles */
input[type="range"] {
    @apply h-2.5 bg-neutral-200 border-0 rounded appearance-none active:bg-neutral-300 transition-all dark:bg-neutral-700 dark:active:bg-neutral-600;
}

input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-3 h-5 bg-neutral-800 rounded-full active:bg-neutral-900 active:w-4 active:h-6 transition-all dark:bg-neutral-100 dark:active:bg-white;
}
